* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar, .footer{
    margin: 0 auto;
    padding: 0 20px;
}

.navbar{
    background-color:#057858 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.logo img{
    max-height: 40px;
}

.accueil{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    padding-right: 15px;
}

a{
    text-decoration: none;
    color: white;
}

#btn{
    background-color: #DA2627;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 20px;
    gap: 10px;
}

main img{
    max-width: 100%;
    height: auto;
}

#don{
    padding: 20px;
    background-color: white;
}

#d{
    background-color: white;
    box-shadow: 0 0 1px gray;
    width: 100%;
    max-width: 1000px; 
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
}

#b1{
    background-color: white;
    border-color: #F3F4F6;
    border-radius: 5px;
}

#b2{
    background-color: white;
    border-color: #F3F4F6;
    border-radius: 5px;
}

#b3{
    background-color: white;
    border-color: #F3F4F6;
    border-radius: 5px;
}

#b4{
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
}

#b5{
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
}

#b6{
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
}

#b7{
    background-color: #DA2627;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: medium;
}

#boutton img {
    max-height: 20px;
}

h2{
    text-align: center;
}

#hist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "c1 c1 c1"
    "c1 c1 c1"
    "c2 c3 c4";
}

#savoir{
    background-color: #EDFEF6;
    gap: 15px;
}

.s{
    max-width: 1000px;
    padding: 20px;
}

.connaissances-section{
    background-color: white;
    margin-top: 10px;
}

#impact{
    display: flex;
    gap: 30px;
}

.impact-section{
    margin-top: 20px;
    margin-left: 30px;
    margin-left: 30px;
    margin: 0 auto;
}

#Temoignages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "Lyon Marseille Paris"; 
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.Lyon{
    background-color: white;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 0 0 2px gray;
}

.Marseille{
    background-color: white;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 0 0 2px gray;
}

.Paris{
    background-color: white;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 0 0 2px gray;
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-top: 30px;
}

.footer h3{
    margin-bottom: 10px;
}

.footer-section{
    margin-bottom: 20px;
    align-items: center;
    gap: 5px;
}

.footer-section img{
    width: 20px;
    height: auto;
}