* {
    margin: 0;
    padding: 0;
}

body{
    color: black;
}

.navbar{
    background-color:#057858 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 128px;
}

.accueil{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
}

#btn{
    background-color: #DA2627;
    color: white;
    border-radius: 14px;
    width: 297px;
    height: 50px;
}