* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar, .footer{
    margin: 0 auto;
    padding: 0 20px;
}

.navbar{
    background-color:#057858 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

header{
    margin-bottom: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img{
    max-height: 40px;
}

.accueil{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    padding-right: 15px;
}

a{
    text-decoration: none;
    color: white;
}

#btn{
    background-color: #DA2627;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    border-color: #DA2627;
}

h2{
    justify-content: center;
    text-align: center;
}

#formulaire{
    padding: 30px;
    padding-top: 50px;
}

#formulaire h2{
    margin-bottom: 20px;
}

#myForm{
    background-color: white;
    box-shadow: 0 0 2px gray;
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
}

input, select, textarea{
    width: 100%; 
    padding: 10px; 
}

select{
    margin-bottom: 15px;
}
textarea {
    height: 100px;
}

#boutton{
    background-color: #08956A;
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: medium;
}

#boutton img{
    max-height: 24px;
}
.error {
    color: red;
    font-size: 0.9em;
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.footer h3{
    margin-bottom: 10px;
}

.footer-section{
    margin-bottom: 20px;
    align-items: center;
    gap: 5px;
}

.footer-section img{
    width: 20px;
    height: auto;
}

@media (max-width: 490px) {
    .navbar {
        flex-direction: column; 
        padding: 15px 0;
    }
}
