* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

.navbar{
    background-color:#057858 ;
}

.error {
    color: red;
    font-size: 0.9em;
}